In [5]:
import yfinance as yf #yahoofinance
 
# AAPL  → Apple
# MSFT  → Microsoft
# GOOGL → Alphabet (Google)
# AMZN  → Amazon
# META  → Meta (Facebook)
# TSLA  → Tesla
# NFLX  → Netflix
# NVDA  → NVIDIA

comp = 'AAPL'
data = yf.Ticker(comp)
df = data.history(start = "2019-01-01", end="2023-01-01")

In [6]:
df

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2019-01-02 00:00:00-05:00,36.818568,37.759892,36.661680,37.538822,148158800,0.0,0.0
2019-01-03 00:00:00-05:00,34.225170,34.638783,33.754510,33.799675,365248800,0.0,0.0
2019-01-04 00:00:00-05:00,34.355908,35.311495,34.182383,35.242558,234428400,0.0,0.0
2019-01-07 00:00:00-05:00,35.347163,35.378067,34.681581,35.164127,219111200,0.0,0.0
2019-01-08 00:00:00-05:00,35.551584,36.088807,35.304370,35.834457,164101200,0.0,0.0
...,...,...,...,...,...,...,...
2022-12-23 00:00:00-05:00,128.974252,130.451959,127.713276,129.900284,63814900,0.0,0.0
2022-12-27 00:00:00-05:00,129.427462,129.457014,126.806990,128.097519,69007800,0.0,0.0
2022-12-28 00:00:00-05:00,127.742834,129.082622,123.999315,124.166786,85438400,0.0,0.0
2022-12-29 00:00:00-05:00,126.087812,128.540804,125.831682,127.683739,75703700,0.0,0.0
2022-12-30 00:00:00-05:00,126.501579,128.018685,125.536140,127.998978,77034200,0.0,0.0