In [2]:
import pandas as pd
import datetime
import pickle

cars_df = pd.read_csv("cars24-car-price-cleaned-new.csv")

In [3]:
cars_df.head()

,selling_price,km_driven,mileage,engine,max_power,age,make,model,Individual,Trustmark Dealer,Diesel,Electric,LPG,Petrol,Manual,5,>5
0,1.20,120000,19.70,796.0,46.30,11.0,MARUTI,ALTO STD,1,0,0,0,0,1,1,1,0
1,5.50,20000,18.90,1197.0,82.00,7.0,HYUNDAI,GRAND I10 ASTA,1,0,0,0,0,1,1,1,0
2,2.15,60000,17.00,1197.0,80.00,13.0,HYUNDAI,I20 ASTA,1,0,0,0,0,1,1,1,0
3,2.26,37000,20.92,998.0,67.10,11.0,MARUTI,ALTO K10 2010-2014 VXI,1,0,0,0,0,1,1,1,0
4,5.70,30000,22.77,1498.0,98.59,8.0,FORD,ECOSPORT 2015-2021 1.5 TDCI TITANIUM BSIV,0,0,1,0,0,0,1,1,0

In [4]:
from sklearn.model_selection import train_test_split
from xgboost import XGBRegressor
from sklearn.metrics import mean_absolute_percentage_error

# 2. Features and target
X = cars_df[['km_driven','mileage','age','Petrol','Diesel','Electric']]
y = cars_df[['selling_price']]

# 3. Train-test split
X_train, X_test, y_train, y_test = train_test_split(
    X, y, test_size=0.2, random_state=42
)

In [6]:
# 4. Initialize XGBoost regressor
xgb_model = XGBRegressor(
    n_estimators=100,
    learning_rate=0.2,
    max_depth=2
)

# 5. Fit model
xgb_model.fit(X_train, y_train)

# 6. Predict on test set
y_pred = xgb_model.predict(X_test)

# 7. Evaluate
mape = mean_absolute_percentage_error(y_test, y_pred)
print(f"Test mape: {mape}")

Test mape: 0.33984702825546265